<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Kendaraan App"
        android:theme="@android:style/Theme.Material.Light">

        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
